<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TESTING</servlet-name>
        <servlet-class>controller.TESTING</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TTESTING</servlet-name>
        <servlet-class>controller.TTESTING</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NNAMES</servlet-name>
        <servlet-class>controller.NNAMES</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TESTING</servlet-name>
        <url-pattern>/TESTING</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TTESTING</servlet-name>
        <url-pattern>/TTESTING</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NNAMES</servlet-name>
        <url-pattern>/NNAMES</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
